# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# 기타
*.log
.DS_Store

outputs/
/notebookoutput/
notebook/
notebook/

analysis/
analysis_jbg/
viewer/